/* Base styles */
.body {
    text-align: center;
    font-family: 'Epilogue', sans-serif;
    background-color: #F5EBE0; 
}

/* Content styles */
#content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* margin: 0 auto; */
    /* max-width: 75%; */
    padding-top: 30px;
    background-color: #F5EBE0;
    /* Remove this line from #content */
}

/* Common box styles */
.box,
.div,
/* For objective & Purpose Box */
.horizontal-box {
    padding: 50px;
    margin-bottom: 40px;
    margin-top: 60px;
    width: 40%;
    text-align: left;
    background-color: #D6CCC2;
    border-radius: 10px;
    line-height: 1.7;
    box-shadow: 10px 10px 10px rgb(176, 156, 147);
}

/* Objective & Purpose Box */
/* Specific box styles */
.box {
    margin-left: 10%;

}

/* Description Box */
.div {
    padding: 40px;
    margin-bottom: 30px;
    margin-top: 50px;
    background-color: #D6CCC2;
    width: 40%;
    text-align: left;
    margin-left: 40%;
    line-height: 1.7;

}

/* Meet the team box */
.horizontal-box1 {
    padding: auto 0x;
    margin-top: 20px; /* Adjusted margin */
    margin-left: auto; /* Center horizontally */
    margin-right: auto; /* Center horizontally */
    width: 65%; /* Adjusted width */
    text-align: center;
    border-radius: 10px;
    background-color: #D6CCC2;
}

.pnm-class-container {
    display: flex; /* Use flexbox */
    align-items: center; /* Center items vertically */
}

.pnm-class-image {
    border-radius: 10px;
    padding: 40px;
    margin-bottom: 30px;
    margin-top: 20px;
    width: 100%; 
    margin-left: 10%;
    border: 3px solid red;
}

.other-div {
    padding: 40px; 
    background-color: #D6CCC2; 
    border-radius: 10px; 
    margin-left: 50%; 
    width: 40%;
    text-align: left;
    line-height: 1.7;
    margin-top: -400px; 
    margin-bottom: 50px;
    box-shadow: 10px 10px 10px rgb(176, 156, 147);

}

.new-sec {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 450px;
    align-items: center;
}

.hor-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    align-items: center;
}

.ppl {
    text-align: left;
    width: 40%;
    padding: 40px;
    margin-bottom: -5%;
    margin-top: 5%;
    background-color: #D6CCC2;
    text-align: left;
    margin-left: -5%;
    line-height: 1.7;
    border-radius: 10px; 
    box-shadow: 10px 10px 10px rgb(176, 156, 147);


}

.img {
    border-radius: 10px;

}