body {
  background-color: #fdfbf5;  /* Set the background color */
}
.text-container {
  text-align: center;
  line-height: 1.7; 
  color: #374375;
  font-family: 'Times New Roman', sans-serif;
  background-color: #fdfbf5;
  font-size: 45px;

  
}
.columns-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px; /* Adjust spacing */
  margin-top: 40px;
  margin-left: 50px; /* Adjust left margin */
  margin-right: 50px; /* Adjust right margin */

}

.column {
  flex: 1;
  margin: 0 5px; /* Adjust spacing */
  padding: 20px;
  border-radius: 5px;
  font-size: 20px;
  line-height: 1.7; 
  color: #374375;
  font-size: 20px; /* Decrease font size for paragraph */
  font-weight: 350;
  color: #60626a;

}

.column:not(:last-child) {
  border-right: 1px solid #ccc; /* Add vertical line */
}

