body {
  background-color: #fdfbf5;  /* Set the background color */
}
.text-container {
  text-align: center;
  line-height: 1.7; 
  color: #374375;
  font-family: 'Times New Roman', sans-serif;
  background-color: #fdfbf5;
  font-size: 65px;
  margin-top: 20%;
  margin-bottom: 60px;
  
}
#root > div > div > div.text-container {
  font-family: 'Times New Roman', Times, serif;

}

#root > div > div > div.columns-container > div:nth-child(1) > p {
  font-family: 'Times New Roman', Times, serif;
}

.columns-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px; /* Adjust spacing */
  margin-top: 40px;
  margin-left: 50px; /* Adjust left margin */
  margin-right: 50px; /* Adjust right margin */

}

.column {
  flex: 1;
  margin: 0 5px; /* Adjust spacing */
  padding: 20px;
  border-radius: 5px;
  font-size: 33px;
  line-height: 1.7; 
  color: #374375;
  font-size: 33px; /* Decrease font size for paragraph */
  font-weight: 350;
  color: #60626a;
  margin-bottom: 10%;
}

.column:not(:last-child) {
  border-right: 1px solid #ccc; /* Add vertical line */
}

.step-1-img {
  position: relative;
  width: 100%;
  height: 200px; 
  object-fit: cover;
  object-position: center calc(50% + 20px); /* Shifts the image to the center horizontally and down by 20 pixels */
}


.step-2-img {
  position: relative;
  width: 100%;
  height: 200px; 
  object-fit: cover;
  object-position: center calc(50% + 15%);
}

.step-3-img {
  position: relative;
  width: 125%;
  height: 200px; 
  left: -40px;
  object-fit: cover;
  object-position: calc();
}

