/* Base styles */
.body {
  text-align: center;
  font-family: 'Epilogue', sans-serif;
  background-color: #F5EBE0; /* Set the background color for the entire page */
}

/* Common box styles */
.container {
  display: flex;
}

.left-column {
  flex: 0.3; /* Adjust the width of the left column */
  padding-right: 20px; /* Add right padding to create space between the boxes */
}

.right-column {
  flex: 0.7; /* Adjust the width of the right column */
  padding-left: 20px;
}

.box {
  width: 100%; /* Adjust width of the left box */
  padding: 20px;
  background-color: #dee8f5;
  margin-bottom: 20px; /* Add margin to separate the boxes */
  text-align: center;
  margin-left: 20%;
  margin-right: 20%;
  box-shadow: 10px 10px 10px #b8bdc3;
  border-radius: 10px;
  font-size: 20px;
}
.box h1 {
  font-family: Apercu, '-apple-system',BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
  color: #374375;
  font-weight: 400;
}

.column-box {
  padding: 50px;
  margin-bottom: 10%;
  margin-top: 20%;
  background-color: #dee8f5;
  width: 100%;
  text-align: center; /* Center text within .div */
  margin-left: 20%;
  margin-right: 20%;
  line-height: 1.7;
  box-shadow: 10px 10px 10px #b8bdc3;
  border-radius: 10px;
  font-size: 24px;
  color: #374375;
}

.column-box h2 {
  font-family: Apercu, '-apple-system',BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
  color: #374375;
  font-weight: 400;
}

.map-container {
  flex: 0.7; /* Adjust the width of the right box */
  height: 80vh; /* Adjust the height of the map container */
  margin-top: 20px;
  margin-left: 20%;
  margin-right: 20%;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden; /* Hide overflow to prevent scrollbars */
  margin-bottom: 10%;

}

.refresh-button {
  background-color: #374375;
  color: white;
  padding: 10px;
  border-radius: 5px;
}
