/* Base styles */
.body {
  text-align: center;
  font-family: 'Epilogue', sans-serif;
  background-color: #F5EBE0; /* Set the background color for the entire page */
}

/* Common box styles */
.container {
  display: flex;
}

.left-column {
  flex: 0.3; /* Adjust the width of the left column */
  padding-right: 20px; /* Add right padding to create space between the boxes */
}

.right-column {
  flex: 0.7; /* Adjust the width of the right column */
  padding-left: 20px;
}

.box {
  width: 100%; /* Adjust width of the left box */
  padding: 20px;
  border: 1px solid #ccc;
  margin-bottom: 20px; /* Add margin to separate the boxes */
  text-align: center;
}

.column-box {
  padding: 20px;
  margin-bottom: 30px;
  margin-top: 50px;
  background-color: #dee8f5;
  width: 40%;
  text-align: center; /* Center text within .div */
  margin-left: 32%;
  line-height: 1.7;
  box-shadow: 10px 10px 10px #b8bdc3;
  border-radius: 10px;
}


.map-container {
  flex: 0.7; /* Adjust the width of the right box */
  height: 80vh; /* Adjust the height of the map container */
  margin-top: 20px;
  margin-right: 20px;
  margin-left: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden; /* Hide overflow to prevent scrollbars */
}

/* Description Box */
.div {
  padding: 40px;
  margin-bottom: 30px;
  margin-top: 50px;
  background-color: #b8bdc3;
  width: 40%;
  text-align: center; /* Center text within .div */
  margin-left: 32%;
  line-height: 1.7;
}

.refresh-button {
  background-color: blue;
  color: white;
  padding: 10px;
  border-radius: 5px;
}
