.firebase-login-button {
  background-color: #4285f4;
  color: white;
  border: none;
  padding: 5px 20px; /* Increase padding to expand clickable area */
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

.firebase-login-button:hover {
  background-color: #357ae8;
}
