

body, html {
  height: 100%;

}

.title {
  font-size: 30px; 
  margin-top: 10px;
  margin-bottom: 90px; 
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: calc(90vh - 20px); /* Adjusted height to make the page longer */
  /* margin-top: 200%; */ /* Adjust or remove this line */
  
}



