/* Base styles */
body {
    text-align: center;
    background-color: #fdfbf5 !important; /* Set the background color for the entire page */
}


.description-box {
    padding: 20px; /* Increased padding */
    margin-top: 0.05%; /* Adjusted margin */
    margin-left: calc((100% - 60%) / 2); /* Calculate the margin dynamically */
    width: 60%; /* Adjusted width */
    text-align: center;
    border-radius: 10px;
    font-size: 11px; /* Adjusted font size */
    color: rgb(151, 150, 155);
    font-weight: 300; /* Adjusted font weight to make it thinner */
    margin-bottom: 10%;
}

.order-box {
    padding: 20px; /* Increased padding */
    margin-top: 50px; /* Adjusted margin */
    margin-left: calc((100% - 15%)/2); /* Calculate the margin dynamically */
    width: 15%; /* Adjusted width */
    text-align: center;
    border-radius: 10px;
    background-color: #fdfbf5;
}


.button-container {
    display: flex;
    justify-content: center;
    margin-top: 30px; /* Added space from the top */
}

.button1 {
    padding: 10px;
    width: 10%; /* Adjusted width */
    text-align: center;
    border-radius: 10px;
    background-color: #dd9dc4;
    cursor: pointer;
    font-family: Apercu, -apple-system, 'BlinkMacSystemFont', Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    color: #ffffff;
    transition: background-color 0.3s;
    margin-top: -5%; /* Added space from the text */
}

.button1:hover {
    background-color: #e8bdd7;
}

.sjsu-map-image {
    width: 70%;
    margin: 20px auto; /* Added space from the top */
    border-radius: 10px;
    margin-bottom: 2%; /* Adjusted margin */
}

#root > div {
    background-color: #fdfbf5 !important; /* Set the background color for the entire page */
}

.description-box h2 
{
    font-size: 15px; /* Decrease font size for paragraph */
    line-height: 1.4; /* Increase line spacing */
    color: #60626a;
    font-weight: 500;
    font-family: Apercu, -apple-system, 'BlinkMacSystemFont', Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

.caption {
    font-style: italic; /* Set font style to italic */
    color: #60626a; /* Set color */
    font-size: 12px; /* Set font size */
    margin-bottom: 5%;
    margin-top: -2%;
    font-family: Apercu, -apple-system, 'BlinkMacSystemFont', Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}