.footer {
    background-color: #7a89ae;
    color: white;
    width: 100%;
    height: 250px;
    padding: 1rem 8rem; /* Adjust padding as needed */
    align-items: center;
    box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.2); /* Add a subtle shadow for depth */
}



.sb__footer-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 2.2%;
}


.sb__footer-links_div {
    width: 150px;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center; /* Align items to the start */
}


.sb__footer-links_div h4 {
    font-size: 22px;
    line-height: 17px;
    margin-bottom: 0.5rem; /* Adjust margin */
    
}

.footerName {
    margin-right: 20px;
    margin-left: 0;
}
.sb__footer-links_div h2 {
    font-weight: 100;
    font-family: Apercu, '-apple-system', BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    text-align: left;
    margin-top: 10px;
    margin-right: -18px;
}


.sb__footer-links_div p {
    font-size: 12px;
    line-height: 15px;
    margin: 0; /* Reset margin */
    cursor: pointer;
    font-family: Apercu, '-apple-system', BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    font-weight: 100;
}


.sb__footer-links_div a {
    color: white; /* Set link color */
    font-weight: 200;
    text-decoration: none; /* Remove underline */
    margin-top: 10px; /* Adjust spacing between h4 and links */
}


.socialmedia {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.sb__footer-links_div h4 {
    font-family: "Times New Roman", Times, serif;
    font-weight: 540;
}
#root > div > div.footer > div > hr {
    margin-top: 20px;
}

.sb__footer-below-links a{
    color: white; /* Set link color */
    font-weight: 600;
    text-decoration: none; /* Remove underline */
    margin-top: 10px; /* Adjust spacing between h4 and links */
}

.socialmedia img {
    width: 40px; /* Set the width of the images */
    margin-right: 20px;
    margin-top: 20px;
    text-align: right;
    margin-left: -10px;
}


.sb__footer-below {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0.2rem;
}


.sb__footer-links p {
    font-size: 17px;
    line-height: 15px;
    color: white;
    font-weight: 300;
}


.sb__footer-copyright p {
    font-size: 13px;
    line-height: 15px;
    font-weight: 600;
    margin-top: 5px;
}


.socials {
    margin-left: -40px;
}

@media screen and (max-width: 550px) {
    .sb__footer-below {
        flex-direction: column;
        justify-content: left;
    }
}


@media screen and (max-width: 400px) {
    .sb__footer-heading h1 {
        font-size: 27px;
        line-height: 38px;
    }
}
