.footer {
    background-color: #2d2d32;
    color: white;
    width: 100%;
    padding: 1rem 4rem; /* Adjust padding as needed */
    box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.2); /* Add a subtle shadow for depth */
}


.sb__footer-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.sb__footer-links_div {
    width: 150px;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    color: white;
    align-items: flex-start; /* Align items to the start */
}


.sb__footer-links_div h4 {
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 0.5rem; /* Adjust margin */
}


.sb__footer-links_div p {
    font-size: 12px;
    line-height: 15px;
    margin: 0; /* Reset margin */
    cursor: pointer;
}


.sb__footer-links_div a {
    color: white; /* Set link color */
    text-decoration: none; /* Remove underline */
    margin-top: 0.5rem; /* Adjust spacing between h4 and links */
}


.socialmedia {
    display: flex;
    flex-direction: row;
}


.socialmedia img {
    width: 20px; /* Set the width of the images */
}


.sb__footer-below {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0.2rem;
}


.sb__footer-links p {
    font-size: 13px;
    line-height: 15px;
    color: white;
    font-weight: 600;
}


.sb__footer-copyright p {
    font-size: 13px;
    line-height: 15px;
    font-weight: 600;
}


@media screen and (max-width: 550px) {
    .sb__footer-below {
        flex-direction: column;
        justify-content: left;
    }
}


@media screen and (max-width: 400px) {
    .sb__footer-heading h1 {
        font-size: 27px;
        line-height: 38px;
    }
}
